In [1]:
import pandas as pd
dados = pd.read_csv("FIFA19.csv")

In [2]:
dados["total"] = dados["Acceleration"] + dados["Agility"] + dados["Reactions"]

In [3]:
dados["total"]

0        277.0
1        272.0
2        284.0
3        207.0
4        248.0
         ...
18142    163.0
18143    119.0
18144    167.0
18145    134.0
18146    163.0
Name: total, Length: 18147, dtype: float64

In [4]:
dados.sort_values("total")

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality,total
17625,17685,Lee Yunoh,19,Korea Republic,53,58,Vegalta Sendai,€50K,€1K,Right,...,11.0,54.0,52.0,55.0,52.0,59.0,€66K,MEIJI YASUDA J1,Goalkeeper,71.0
18067,18127,N. Stephan,17,Germany,49,67,FC Würzburger Kickers,€50K,€1K,Right,...,9.0,49.0,48.0,57.0,49.0,54.0,€104K,0,Goalkeeper,74.0
18138,18198,J. Livesey,18,England,47,70,Burton Albion,€60K,€1K,Right,...,13.0,46.0,52.0,58.0,42.0,48.0,€165K,EFL LEAGUE ONE,Goalkeeper,76.0
17747,17807,J. Brendieck,19,Germany,52,66,MSV Duisburg,€90K,€1K,Right,...,14.0,55.0,53.0,49.0,51.0,55.0,€200K,0,Goalkeeper,77.0
17808,17868,A. Czaplak,21,Poland,52,60,Zagłębie Sosnowiec,€60K,€1K,Right,...,10.0,58.0,56.0,58.0,40.0,58.0,€93K,0,Goalkeeper,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,50,D. Mertens,31,Belgium,87,87,Napoli,€45M,€135K,Right,...,40.0,7.0,10.0,8.0,10.0,4.0,€76.5M,SERIE A TIM,Dribbler,275.0
26,26,M. Salah,26,Egypt,88,89,Liverpool,€69.5M,€255K,Left,...,41.0,14.0,14.0,9.0,11.0,14.0,€137.3M,PREMIER LEAGUE,Complete Forward,276.0
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward,277.0
5,5,E. Hazard,27,Belgium,91,91,Chelsea,€93M,€340K,Right,...,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M,PREMIER LEAGUE,Complete Midfielder,279.0
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward,284.0

In [5]:
dados = dados[["Name", "total"]]
dados.sort_values("total", ascending = False)

               Name  total
2         Neymar Jr  284.0
5         E. Hazard  279.0
0          L. Messi  277.0
26         M. Salah  276.0
60      R. Sterling  275.0
...             ...    ...
17808    A. Czaplak   77.0
17747  J. Brendieck   77.0
18138    J. Livesey   76.0
18067    N. Stephan   74.0
17625     Lee Yunoh   71.0

[18147 rows x 2 columns]

In [6]:
dados.head()

                Name  total
0           L. Messi  277.0
1  Cristiano Ronaldo  272.0
2          Neymar Jr  284.0
3             De Gea  207.0
4       K. De Bruyne  248.0

In [7]:
dados.to_csv("dados1.csv", index= False)