In [2]:
import pandas as pd

In [6]:
dados = pd.read_csv("FIFA19.csv")

dados

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
3,3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,PREMIER LEAGUE,Goalkeeper
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,PREMIER LEAGUE,Complete Midfielder
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18142,18202,J. Lundstram,19,England,47,65,Crewe Alexandra,€60K,€1K,Right,...,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K,EFL LEAGUE TWO,No Speciality
18143,18203,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,€60K,€1K,Right,...,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K,ALLSVENSKAN,No Speciality
18144,18204,B. Worman,16,England,47,67,Cambridge United,€60K,€1K,Right,...,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K,0,No Speciality
18145,18205,D. Walker-Rice,17,England,47,66,Tranmere Rovers,€60K,€1K,Right,...,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K,EFL LEAGUE TWO,No Speciality
18146,18206,G. Nugent,16,England,46,66,Tranmere Rovers,€60K,€1K,Right,...,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K,EFL LEAGUE TWO,No Speciality

In [7]:
dados.columns

Index(['Unnamed: 0', 'Name', 'Age', 'Nationality', 'Overall', 'Potential',
       'Club', 'Value', 'Wage', 'Preferred Foot', 'International Reputation',
       'Weak Foot', 'Skill Moves', 'Work Rate', 'Position', 'Jersey Number',
       'Joined', 'Loaned From', 'Contract Valid Until', 'Height', 'Weight',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause', 'League', 'Speciality'],
      dtype='object')

In [8]:
dados.index

RangeIndex(start=0, stop=18147, step=1)

In [11]:
dados[["Name","Nationality","Dribbling"]]

                     Name Nationality  Dribbling
0                L. Messi   Argentina       97.0
1       Cristiano Ronaldo    Portugal       88.0
2               Neymar Jr      Brazil       96.0
3                  De Gea       Spain       18.0
4            K. De Bruyne     Belgium       86.0
...                   ...         ...        ...
18142        J. Lundstram     England       42.0
18143  N. Christoffersson      Sweden       39.0
18144           B. Worman     England       45.0
18145      D. Walker-Rice     England       51.0
18146           G. Nugent     England       43.0

[18147 rows x 3 columns]

In [16]:
dados.iloc[0:4]

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
3,3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,PREMIER LEAGUE,Goalkeeper

In [19]:
dados.iloc[2,1]

'Neymar Jr'